{% extends 'pizza/pizza.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}
    <main class="flex_form">
        <form method="GET" class="field_of_form">
            <h1 class="form_title authorisation_form_title">Вход</h1>
            <div class="fields">
                <input type="email" name="email" placeholder="Почта" class="field"/>
                <input type="password" name="password" placeholder="Пароль" class="field"/>
                <input type="submit" value="Войти" class="submit field">
            </div>
        </form>
    </main>
{% endblock %}
