{% extends 'pizza/pizza.html.twig' %}

{% block title %}Долго пицца{% endblock %}

{% block body %}
    <main class="menu">
        {% for pizza in menu %}
            <div class="pizza">
                <div>
                    <img class="pizza_image" src="{{ pizza['image'] }}" alt=pizza />
                    <h2 class="pizza_name">{{ pizza['pizza_name'] }}</h2>
                    <p class="description">{{ pizza['description'] }}</p>
                </div>
                <div class="cost_block">
                    <h2 class="cost">от {{ pizza['cost'] }}</h2>
                    <a class="buying">Купить</a>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}

