<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset('pizza/pizza_style.css') }}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
    <header>
        <div class="flex">
            {% if mainPage is defined %}
                <img class="logo" alt="logo" src="{{ asset('pizza/images/logo.png') }}"/>
            {% else %}
                <a href="/" class="{% if tabs is defined %}logo{% else %}logo_access{% endif %} logo_link">
                    <img alt="logo" src="{{ asset('pizza/images/logo.png') }}"/>
                </a>
            {% endif %}
            <div class="access_links_block">
                {% if registration == true %}
                    <a href="/registration" class="registration_link access_links">Регистрация</a>
                {% endif %}
                {% if authorisation == true %}
                    <a  href="/authorisation" class="authorisation_link access_links">Вход</a>
                {% endif %}
            </div>
        </div>
        {% if tabs is defined %}
        <div class="menu_orders_tabs">
            <a href="/" class="menu_orders_links">Меню</a>
            <a href="/orders" class="menu_orders_links">Заказы</a>
        </div>
        {% endif %}
    </header>
    {% block body %}{% endblock %}
    </body>
</html>
