{% extends 'pizza/pizza.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <main class="flex_form">
    <form method="GET" class="field_of_form">
        <h1 class="form_title">Регистрация</h1>
        <div class="fields">
            <input type="text" name="your_name" placeholder="ФИО" class="field"/>
            <input type="email" name="email" placeholder="Почта" class="field"/>
            <input type="password" name="password" placeholder="Пароль" class="field"/>
            <input type="text" name="address" placeholder="Адрес доставки" class="field"/>
            <input type="submit" value="Зарегистрироваться" class="submit field">
        </div>
    </form>
    </main>
{% endblock %}
